*{
	margin:0;
}

.flip-frame{
	border: 10px solid #CCC;
	border-radius: 10px;
	height: 300px;
	margin: 20px auto;
	overflow: hidden;
	width: 500px;
	-webkit-perspective: 1000px;
}

.flip-frame .flip{
	position: relative;	
	-webkit-transform-style: preserve-3d;
}

.flip-frame .flip.animate{
	-webkit-transition: 0.6s;
	-webkit-transform: rotateY(180deg);
}

.flip-frame .flip.animateL{
	-webkit-transform: rotateY(-180deg);
}

.flip-frame .slide{
	height: 300px;
	position: absolute;
	top: 0;
	left: -500px;
	width: 100%;
}

.flip-frame .slide.front, .flip-frame .slide.back{
	left: 0;
	-webkit-backface-visibility:hidden;
}

.flip-frame .slide.front{
	z-index: 2;
}

.flip-frame .slide.back{
	-webkit-transform: rotateY(180deg);	
	z-index: 1;
}

.nav{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.nav button{
	cursor: pointer;
	width: 80px;
}